# Node modules directory
/node_modules/

# pnpm store
.pnpm-store/

# TypeScript build output (if applicable)
/dist/
/build/

# Logs
*.log
*.log.*

# npm package-lock file
/package-lock.json

# IDE or editor directories and files
/.idea/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Environment variable files (dotenv files)
.env
.env.staging
.env.production

# Logs
/logs/
audit.json

# Agents
.claude/settings.local.json
.claude/projects/
.claude/mcp/node_modules/

# Custom
/backup/*
!/backup/.gitkeep
/cli/tmp
/cli/history.txt

